{%extends 'nucleo/Base.html'%}

{%block title%}Contacto{%endblock%}

{%block background%}{%load static%}{%static 'nucleo/img/contacto-de.png'%}{%endblock%}

{%block headers%}
    <h1>Contacto</h1>
    <span class="subheading">Soporte</span>
{%endblock%}

{%block content%}
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          <p>Si necesita ayuda con algo adicional puede comunicarse con nosotros, a los siguientes contactos:</p>
          <ul>
            <li><a href="mailto:abravo1057@utm.edu.ec">abravo1057@utm.edu.ec</a></li>
            <li><a href="mailto:ebasurto5028@utm.edu.ec">ebasurto5028@utm.edu.ec</a></li>
            <li><a href="mailto:galcivar4572@utm.edu.ec">galcivar4572@utm.edu.ec</a></li>
            <li><a href="mailto:jcarranza7147@utm.edu.ec">jcarranza7147@utm.edu.ec</a></li>
            <li><a href="mailto:iperez7928@utm.edu.ec">iperez7928@utm.edu.ec</a></li>
          </ul>
          <p><b>Teléfono:</b> +593 999 999 999</p>
        </div>
      </div>
    </div>
{%endblock%}