{%extends 'nucleo/Base.html'%}

{%block title%}Categorías{%endblock%}

{%block background%}{%load static%}{%static 'nucleo/img/tienda-de.png'%}{%endblock%}

{%block headers%}
    <h1>Tienda virtual de dispositivos electrónicos</h1>
{%endblock%}

{%block content%}
    <div class="col-lg-3 col-md-4 offset-lg-1">
        <div class="row project">
            <h2>Todas las categorías</h2>
        </div>
    </div>
    {%for categoriasVar in categoria_list%}
        <!-- Proyecto -->
        <div class="row project">  	
            <div class="col-lg-3 col-md-4 offset-lg-1">
                <img class="img-fluid" src="{{categoriasVar.imagen.url}}" alt="">
            </div>
            <div class="col-lg-7 col-md-8">
                <h2 class="section-heading title">{{categoriasVar.titulo}}</h2>   
                <p>{{categoriasVar.descripcion}}</p>

                <button><a class="boton" href="{% url 'FiltrarProductos' categoriasVar.slug %}">Ver los productos</a></button>
                
            </div>
        </div>
    {%endfor%}
{%endblock%}