{%extends 'nucleo/Base.html'%}

{%block title%}Productos{%endblock%}

{%block background%}{%load static%}{%static 'nucleo/img/tienda-de.png'%}{%endblock%}

{%block headers%}
    <h1>Tienda virtual de dispositivos electrónicos</h1>
{%endblock%}

{%block content%}
    <div class="col-lg-3 col-md-4 offset-lg-1">
        <div class="row project">
            <h2>detalles</h2>
        </div>
    </div>
    
        <!-- Proyecto -->
        <div class="row project">  	
            <div class="col-lg-3 col-md-4 offset-lg-1">
                
                <img class="img-fluid" src="{{catFiltrada2.imagenp.url}}" alt="">
            </div>
            <div class="col-lg-7 col-md-8">
                <h2 class="section-heading title">{{catFiltrada2.nombrep}}</h2>   
                <p><b>Descripción:</b> {{catFiltrada2.detallep}}</p>
                <p><b>Disponible en categoría:</b> {{catFiltrada2.idnumcatp}}</p>
                <p><b>Marca:</b> {{catFiltrada2.marcap}}</p>
                <p><b>Precio unitario:</b> {{catFiltrada2.preciop}}</p>

                <form action="" method="PUT">{% csrf_token %}
                    <p><a class="btn btn-success" href="{% url 'cart' catFiltrada2.slug %}">Añadir al carrito</a> </p>
                </form>
<!--
                <button oneclick="{{productosVar.temp}}"><a class=»boton» src="">Mi botón</a></button>
-->
            </div>
        </div>
    
{%endblock%}