{%extends 'nucleo/Base.html'%}

{%block title%}Catálogo{%endblock%}

{%block background%}{%load static%}{%static 'nucleo/img/tienda-de.png'%}{%endblock%}

{%block headers%}
    <h1>Tienda virtual de dispositivos electrónicos</h1>
{%endblock%}

{%block content%}
    <div class="col-lg-3 col-md-4 offset-lg-1">
        <div class="row project">
            <h2>Todos los catálogos</h2>
        </div>
    </div>
    {%for catalogosVar in catalogosweb%}
        <!-- Proyecto -->
        <div class="row project">  	
            <div class="col-lg-3 col-md-4 offset-lg-1">
                <img class="img-fluid" src="{{catalogosVar.imagen.url}}" alt="">
            </div>
            <div class="col-lg-7 col-md-8">
                <h2 class="section-heading title">{{catalogosVar.titulo}}</h2>   
                <p>{{catalogosVar.descripcion}}</p>

                {%if catalogosVar.enlace != ""%}
                    <p><a href="{{catalogosVar.enlace}}">Ver más</a></p>
                {%endif%}

            </div>
        </div>
    {%endfor%}
{%endblock%}